.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voteContainer, .postComments {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.addCommentContainer input[type="text"] {
    margin-right: 10px; 
}
