.updateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.updateContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateContainer label {
    margin-top: 10px;
}

.updateContainer input[type="text"],
.updateContainer textarea,
.updateContainer select {
    resize: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.updateContainer input[type="submit"] {
    margin-top: 10px;
}
